#bottom-bar {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.5);
	transition: 0.125s;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	user-select: none;
}

.bottom-bar-item {
	margin: 0px 5px 0px 5px;
	width: 100px;
	cursor: pointer;
	color: white;
	font-size: 1em;
	text-align: center;
}

.bottom-bar-text {
	width: 80px;
	color: white;
	font-size: 1em;
	text-align: center;
}

#slider{
	position: absolute;
	left: 0px;
	top: -10px;
	width: 100%;
}